body {
  max-width: 800px;
  margin: 0 auto;
  border: 2px dashed purple;
}

header {
  text-align: center;
  font-family: Georgia, sans-serif;
  color: white;
  text-shadow: 2px 2px 2px purple;
  padding: 15px;
  font-weight: bold;
  background-color: teal;
  margin: 0 auto 10px auto;
  box-shadow: 0 4px 7px black;
}

.sender-column {
  text-align: right;
}

.content {
  padding: 0 5px 10px 5px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
  color: purple;
}


p,ul,ol,dl,address {
  font-size: 1.1em;
}

p, li, dd, dt, address {
  line-height: 1.5;
}
